{% assign metaObject = product.metafields.custom.tab_description_meta.value %}

<!-- First Image -->
{% assign Fheading = metaObject.first_banner_heading %}
{% assign FSheading = metaObject.first_banner_subheading %}
{% assign Fimage = metaObject.first_banner_image.value %}

<div class="description_content">
 
  {% if Fheading %}
    <div class="heeadings"> 
      <h2 class="cus-banner-main-heading" id="cus-banner-main-heading">{{ Fheading }}</h2>
      <p class="cus-banner-main-subheading">{{ FSheading }}</p>
    </div>
    {% else %}
    <style>.heeadings{
display:none;
}</style>
  {% endif %}
  {% if Fimage %}
    <div class="bannner-img align-tab-images">
      {{ Fimage | image_url: width: auto | image_tag }}
    </div>
  {% endif %}
</div>

<!-- Second image -->
{% assign Sheading = metaObject.second_banner_heading %}
{% assign SSheading = metaObject.second_banner_subheading %}
{% assign Simage = metaObject.second_banner_image.value %}

<div>
  <div class="heeadings">
    <h2 class="cus-banner-main-heading">{{ Sheading }}</h2>
    <p class="cus-banner-main-subheading">{{ SSheading }}</p>
  </div>
  {% if Simage %}
    <div class="bannner-img align-tab-images">
      {{ Simage | image_url: width: auto | image_tag }}
    </div>
  {% endif %}
</div>

<!-- Images Tab section  -->
{% assign tabTitles = metaObject.tab_banners_titles.value %}
{% assign tabImages = metaObject.tab_banners_images.value %}

<div class="container">
  <div class="cats">
    <div class="cats_header">
      <ul class="cats_list">
        {% for item in tabTitles %}
          <li class="cats_item" data-tab-index="{{ forloop.index }}">{{ item }}</li>
        {% endfor %}
      </ul>
    </div> 
    <div class="cats_content">
      <ul class="cats_img-list">
        {% for image in tabImages %}
          <li class="cats_img-item">
            {{ image | image_url: width: auto | image_tag }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
  
<!-- End Images Tab Section -->





  
<!-- Third Banner Image -->
{% assign Timage = metaObject.third_banner_image.value %}
<div>
  {% if Timage %}
    <div class="align-tab-images">
      {{ Timage | image_url: width: auto | image_tag }}
    </div>
  {% endif %}
</div>

<!-- End Third Banner Section -->


<!-- Images Tab2 section  -->
{% assign tab2Titles = metaObject.tab_2_banners_titles.value %}
{% assign tab2Images = metaObject.tab_2_banners_images.value %}
<div class="container">
  <div class="dogs">
    <div class="dogs_header">
      <ul class="dogs_list">
        {% for item in tab2Titles %}
          <li class="dogs_item" data-tab-index="{{ forloop.index }}">{{ item }}</li>
        {% endfor %}
      </ul>
    </div> 
    <div class="dogs_content">
      <ul class="dogs_img-list">
        {% for image in tab2Images %}
          <li class="dogs_img-item">
            {{ image | image_url: width: auto | image_tag }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
<!-- End Images Tab2 Section -->
  


<!-- Fourth Banner Image -->
{% assign Frimage = metaObject.fourth_banner_image.value %}
<div>
  {% if Frimage %}
    <div class="align-tab-images">
      {{ Frimage | image_url: width: auto | image_tag }}
    </div>
  {% endif %}
</div>

<!-- End Fourth Banner Section -->

<!-- Fifth Banner Image -->
{% assign Ffimage = metaObject.fifth_banner_image.value %}
<div>
  {% if Ffimage %}
    <div class="align-tab-images">
      {{ Ffimage | image_url: width: auto | image_tag }}
    </div>
  {% endif %}
</div>

<!-- End Fifth Banner Section -->

<!-- Sixth Banner Image -->
{% assign Sximage = metaObject.sixth_banner_image.value %}
<div>
  {% if Sximage %}
    <div class="align-tab-images">
      {{ Sximage | image_url: width: auto | image_tag }}
    </div>
  {% endif %}
</div>

<!-- End Sixth Banner Section -->

<!-- Video section -->
{% assign DVideo = metaObject.video.value %}
{% if DVideo %}
  <div class="align-tab-images cus-des-video">  
    {{ DVideo | video_tag: width: auto, autoplay: true, loop: true, muted: true, controls: true }}
  </div>
{% endif %}